In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv("COVID-19-global-data-death data.csv")

In [3]:
data2 = pd.read_csv("vaccination-data.csv")

In [4]:
data3 = pd.read_csv("WHO-COVID-19-global-table-data.csv")

In [5]:
data1.shape
data1.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [6]:
data2.shape
data2.dtypes

COUNTRY                                  object
ISO3                                     object
WHO_REGION                               object
DATA_SOURCE                              object
DATE_UPDATED                             object
TOTAL_VACCINATIONS                      float64
PERSONS_VACCINATED_1PLUS_DOSE             int64
TOTAL_VACCINATIONS_PER100               float64
PERSONS_VACCINATED_1PLUS_DOSE_PER100    float64
PERSONS_FULLY_VACCINATED                  int64
PERSONS_FULLY_VACCINATED_PER100         float64
VACCINES_USED                            object
FIRST_VACCINE_DATE                       object
NUMBER_VACCINES_TYPES_USED              float64
PERSONS_BOOSTER_ADD_DOSE                float64
PERSONS_BOOSTER_ADD_DOSE_PER100         float64
dtype: object

In [7]:
data3.shape
data3.dtypes

Name                                                             object
WHO Region                                                        int64
Cases - cumulative total                                        float64
Cases - cumulative total per 100000 population                    int64
Cases - newly reported in last 7 days                           float64
Cases - newly reported in last 7 days per 100000 population       int64
Cases - newly reported in last 24 hours                           int64
Deaths - cumulative total                                       float64
Deaths - cumulative total per 100000 population                   int64
Deaths - newly reported in last 7 days                          float64
Deaths - newly reported in last 7 days per 100000 population      int64
Deaths - newly reported in last 24 hours                        float64
dtype: object

In [8]:
data1.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [9]:
data2.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Afghanistan,AFG,EMRO,REPORTING,5/3/2023,16918550.0,14790567,43.461,37.994,14076220,36.159,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2/22/2021,11.0,1092420.0,2.806
1,Albania,ALB,EURO,REPORTING,4/9/2023,3075848.0,1347760,106.900,47.357,1277204,44.878,"AstraZeneca - Vaxzevria,Gamaleya - Gam-Covid-V...",1/13/2021,5.0,397368.0,13.963
2,Algeria,DZA,AFRO,REPORTING,9/4/2022,15267442.0,7840131,34.817,17.879,6481186,14.780,"Beijing CNBG - BBIBP-CorV,Gamaleya - Gam-Covid...",1/30/2021,4.0,575651.0,1.313
3,American Samoa,ASM,WPRO,REPORTING,3/29/2023,114706.0,46206,207.812,83.711,42479,76.959,"Janssen - Ad26.COV 2-S,Moderna - Spikevax,Pfiz...",12/21/2020,3.0,24160.0,43.770
4,Andorra,AND,EURO,REPORTING,4/9/2023,157038.0,57910,203.200,76.020,53496,70.226,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",1/20/2021,3.0,43067.0,56.535

In [10]:
data3.head()

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,765903278,9826.150648,438312,5.623321,0,6927378,88.874747,3178,0.040772,0,NaN
United States of America,Americas,103343569,31221.372000,77165,23.313000,0,1125209,339.940000,1146,0.346000,0,NaN
China,Western Pacific,99252425,6745.960000,3122,0.212000,0,121015,8.225000,50,0.003000,0,NaN
India,South-East Asia,44972800,3258.888000,16084,1.166000,0,531707,38.529000,123,0.009000,0,NaN
France,Europe,38961098,59903.878000,29544,45.425000,0,163120,250.802000,166,0.255000,0,NaN

In [11]:
data1.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.900880e+05      2.900880e+05  290088.000000       2.900880e+05
mean   2.640245e+03      1.273095e+06      23.880264       1.677599e+04
std    3.883344e+04      5.952495e+06     143.895654       7.172113e+04
min   -8.261000e+03      0.000000e+00   -3520.000000       0.000000e+00
25%    0.000000e+00      1.589000e+03       0.000000       1.300000e+01
50%    1.000000e+01      3.018300e+04       0.000000       3.300000e+02
75%    3.430000e+02      3.447305e+05       4.000000       5.072000e+03
max    6.966046e+06      1.033436e+08   11447.000000       1.125209e+06

In [12]:
data2.describe()

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
count,2.280000e+02,2.290000e+02,227.000000,229.000000,2.290000e+02,229.000000,225.000000,2.110000e+02,211.000000
mean,5.855400e+07,2.423253e+07,154.232207,63.576865,2.230258e+07,58.438013,4.955556,1.159962e+07,32.151716
std,2.836745e+08,1.138264e+08,84.192867,25.606135,1.083587e+08,25.464441,2.899781,6.121110e+07,25.406042
min,1.380000e+02,0.000000e+00,0.315000,0.000000,0.000000e+00,0.000000,1.000000,0.000000e+00,0.000000
25%,4.672435e+05,1.914030e+05,83.350000,45.187000,1.848010e+05,38.777000,3.000000,4.614150e+04,8.454000
50%,4.675794e+06,2.740227e+06,155.844000,67.034000,2.414223e+06,63.137000,4.000000,6.515020e+05,29.788000
75%,2.275271e+07,1.073640e+07,216.964500,82.562000,9.158025e+06,77.596000,7.000000,4.214076e+06,53.111500
max,3.515873e+09,1.317995e+09,469.778000,163.185000,1.284414e+09,163.185000,12.000000,8.338204e+08,145.944000

In [13]:
data3.describe()

,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
count,2.380000e+02,237.000000,238.000000,237.000000,238.0,2.380000e+02,237.000000,238.000000,237.000000,238.0,0.0
mean,6.436162e+06,20305.776188,3683.294118,8.900896,0.0,5.821326e+04,124.386746,26.705882,0.048168,0.0,NaN
std,5.070282e+07,20033.920529,29538.155002,35.076898,0.0,4.588450e+05,128.074043,220.457019,0.153585,0.0,NaN
min,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000e+00,0.000000,-1.000000,-0.023000,0.0,NaN
25%,2.362725e+04,2200.667000,0.000000,0.000000,0.0,1.602500e+02,15.624000,0.000000,0.000000,0.0,NaN
50%,1.966405e+05,14026.714000,0.000000,0.000000,0.0,1.679500e+03,82.405000,0.000000,0.000000,0.0,NaN
75%,1.267148e+06,33163.829000,148.250000,3.521000,0.0,1.362500e+04,204.154000,0.000000,0.000000,0.0,NaN
max,7.659033e+08,74420.076000,438312.000000,324.283000,0.0,6.927378e+06,667.830000,3178.000000,1.126000,0.0,NaN

In [14]:
data1.isnull().sum()

Date_reported           0
Country_code         1224
Country                 0
WHO_region              0
New_cases               0
Cumulative_cases        0
New_deaths              0
Cumulative_deaths       0
dtype: int64

In [15]:
data2.isnull().sum()

COUNTRY                                  0
ISO3                                     0
WHO_REGION                               0
DATA_SOURCE                              0
DATE_UPDATED                             0
TOTAL_VACCINATIONS                       1
PERSONS_VACCINATED_1PLUS_DOSE            0
TOTAL_VACCINATIONS_PER100                2
PERSONS_VACCINATED_1PLUS_DOSE_PER100     0
PERSONS_FULLY_VACCINATED                 0
PERSONS_FULLY_VACCINATED_PER100          0
VACCINES_USED                            4
FIRST_VACCINE_DATE                      22
NUMBER_VACCINES_TYPES_USED               4
PERSONS_BOOSTER_ADD_DOSE                18
PERSONS_BOOSTER_ADD_DOSE_PER100         18
dtype: int64

In [16]:
data3.isnull().sum()

Name                                                              1
WHO Region                                                        0
Cases - cumulative total                                          1
Cases - cumulative total per 100000 population                    0
Cases - newly reported in last 7 days                             1
Cases - newly reported in last 7 days per 100000 population       0
Cases - newly reported in last 24 hours                           0
Deaths - cumulative total                                         1
Deaths - cumulative total per 100000 population                   0
Deaths - newly reported in last 7 days                            1
Deaths - newly reported in last 7 days per 100000 population      0
Deaths - newly reported in last 24 hours                        238
dtype: int64

In [17]:
# For droping the data and filling the null values - Data cleaning data 3
data3.drop(['Other'], inplace=True)
data3['Name'] = data3['Name'].fillna('All Regions')
data3.drop(columns=['Deaths - newly reported in last 24 hours',], inplace=True)

In [18]:
data3

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population
Global,All Regions,765903278,9826.150648,438312,5.623321,0,6927378,88.874747,3178,0.040772,0
United States of America,Americas,103343569,31221.372000,77165,23.313000,0,1125209,339.940000,1146,0.346000,0
China,Western Pacific,99252425,6745.960000,3122,0.212000,0,121015,8.225000,50,0.003000,0
India,South-East Asia,44972800,3258.888000,16084,1.166000,0,531707,38.529000,123,0.009000,0
France,Europe,38961098,59903.878000,29544,45.425000,0,163120,250.802000,166,0.255000,0
...,...,...,...,...,...,...,...,...,...,...,...
Holy See,Europe,26,3213.844000,0,0.000000,0,0,0.000000,0,0.000000,0
Tokelau,Western Pacific,5,370.370000,0,0.000000,0,0,0.000000,0,0.000000,0
Pitcairn Islands,Western Pacific,4,8000.000000,0,0.000000,0,0,0.000000,0,0.000000,0
Democratic People's Republic of Korea,South-East Asia,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0

In [19]:
data3.isnull().sum()

Name                                                            0
WHO Region                                                      0
Cases - cumulative total                                        0
Cases - cumulative total per 100000 population                  0
Cases - newly reported in last 7 days                           0
Cases - newly reported in last 7 days per 100000 population     0
Cases - newly reported in last 24 hours                         0
Deaths - cumulative total                                       0
Deaths - cumulative total per 100000 population                 0
Deaths - newly reported in last 7 days                          0
Deaths - newly reported in last 7 days per 100000 population    0
dtype: int64

In [20]:
# data cleaning sheet 2
mean_value = data2['TOTAL_VACCINATIONS_PER100'].mean()
data2['TOTAL_VACCINATIONS_PER100'].fillna(mean_value, inplace=True)
data2.drop(data2[data2['COUNTRY'] == 'Bonaire'].index, inplace=True)
data2.drop(data2[data2['COUNTRY'] == 'Eritrea'].index, inplace=True)
data2.drop(data2[data2['COUNTRY'] == 'Sint Eustatius'].index, inplace=True)
data2.drop(data2[data2['COUNTRY'] == 'Saba'].index, inplace=True)
data2.drop(['ISO3', 'FIRST_VACCINE_DATE', 'PERSONS_BOOSTER_ADD_DOSE_PER100', 'PERSONS_BOOSTER_ADD_DOSE'], axis=1, inplace=True)

In [21]:
data2.isnull().sum()

COUNTRY                                 0
WHO_REGION                              0
DATA_SOURCE                             0
DATE_UPDATED                            0
TOTAL_VACCINATIONS                      0
PERSONS_VACCINATED_1PLUS_DOSE           0
TOTAL_VACCINATIONS_PER100               0
PERSONS_VACCINATED_1PLUS_DOSE_PER100    0
PERSONS_FULLY_VACCINATED                0
PERSONS_FULLY_VACCINATED_PER100         0
VACCINES_USED                           0
NUMBER_VACCINES_TYPES_USED              0
dtype: int64

In [22]:
data2

,COUNTRY,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,NUMBER_VACCINES_TYPES_USED
0,Afghanistan,EMRO,REPORTING,5/3/2023,16918550.0,14790567,43.461,37.994,14076220,36.159,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",11.0
1,Albania,EURO,REPORTING,4/9/2023,3075848.0,1347760,106.900,47.357,1277204,44.878,"AstraZeneca - Vaxzevria,Gamaleya - Gam-Covid-V...",5.0
2,Algeria,AFRO,REPORTING,9/4/2022,15267442.0,7840131,34.817,17.879,6481186,14.780,"Beijing CNBG - BBIBP-CorV,Gamaleya - Gam-Covid...",4.0
3,American Samoa,WPRO,REPORTING,3/29/2023,114706.0,46206,207.812,83.711,42479,76.959,"Janssen - Ad26.COV 2-S,Moderna - Spikevax,Pfiz...",3.0
4,Andorra,EURO,REPORTING,4/9/2023,157038.0,57910,203.200,76.020,53496,70.226,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
224,Viet Nam,WPRO,REPORTING,4/20/2023,266128292.0,90245924,273.405,92.713,85908380,88.257,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",6.0
225,Wallis and Futuna,WPRO,REPORTING,1/23/2023,17303.0,7150,153.859,63.578,6803,60.493,Moderna - Spikevax,1.0
226,Yemen,EMRO,REPORTING,4/18/2023,1275368.0,1032545,4.276,3.462,788707,2.644,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",11.0
227,Zambia,AFRO,REPORTING,4/9/2023,13614983.0,11637730,74.059,63.304,9147920,49.760,"Beijing CNBG - BBIBP-CorV,Janssen - Ad26.COV 2...",3.0
228,Zimbabwe,AFRO,REPORTING,4/30/2023,13935112.0,7194886,93.758,48.408,5381080,36.205,"Beijing CNBG - BBIBP-CorV,Bharat - Covaxin,Gam...",4.0

In [23]:
 data1.to_csv('Covid-19-Global-Death-data.csv')

In [24]:
 data2.to_csv('Vaccination_Data.csv')

In [25]:
 data3.to_csv('WHO_Covid-19_GlobalData.csv')